
<div class="row mt-5" >
  <div class="col-md-4" *ngFor="let item of globals.cases_model">
    <div class="card mb-3 blog-item-wrapper">
        <img class="card-img-top" [src]="item.imageOficial" height="270" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{item.titulo}}</h5>
          <p class="card-text"> {{item.descricao_resumida}}
              <a (click)="selectCase(item.id)"><strong>SAIBA MAIS</strong> </a>            
          </p>
          <p class="card-text">
              <small class="text-muted">{{item.data}}</small>
            </p>
        </div>
      </div>
  </div>
</div>


