/*----------------------------------------------------------------*/
/*--------------------PROJETOS FEITOS-----------------------------*/
/*----------------------------------------------------------------*/
#blog .blog-item-wrapper {
    background: #fff;
    border-radius: 0px;
    margin-bottom: 30px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
    -webkit-transition: transform 0.2s linear, -webkit-box-shadow 0.2s linear;
    -moz-transition: transform 0.2s linear, -moz-box-shadow 0.2s linear;
    transition: transform 0.2s linear, box-shadow 0.2s linear;
  }
  .aparece{
    display: block;
  }
 
  a{
    color:#eb3812 !important;
    cursor: pointer;
  }
  a:hover, a:active {
    color:#722417 !important;
  }