
<!-- Video Section Start -->
<section id="HOME">
    <app-menu-superior></app-menu-superior>
    <div class="overlay"></div> 
    <div class="mission-statement">
      <div class="container ">    
          <div class="row ">
              <div class="col-md-12">
                <div class="contents text-center">
                  <img src="../../assets/image/logo.png" class="img-fluid" alt="ProjeTI" style="margin: 0 auto;" />
                  <h1>Transformando suas ideias em realidade</h1>
                  
                    <p class="lead titulo">Aqui você irá colocar suas ideias no mercado, através de um planejamento disciplinado e organizado. O resultado
                    desse planejamento feito pela ProjeTI é um projeto eficiente para o seu propósito</p>
                  
                  <div class="responsive-none">
                    <a class="btn btn-common" href="#" id="form-submit">Conheça nosso Blog</a>
                  </div>
                </div>
              </div>
          </div>
      </div>
       <!--  Video is muted & autoplays, placed after major DOM elements for performance & has an image fallback  -->
     
       <video autoplay loop id="video-background" muted plays-inline >
          <source src="../../assets/image/video.mp4" type="video/mp4" id="bgvid" >
        </video> 
    </div>
</section>
<!-- Video Section End -->
<!-- Services Section Start -->
<section id="services" class="section page">
  <div class="container">
    <div class="section-header">
      <h2 class="section-title">NOSSOS
        <span> SERVIÇOS</span>
      </h2>
      <hr class="lines">
      <p class="section-subtitle">Aqui você consegue descobrir como a Projeti pode contribuir para o seu sucesso.</p>
    </div>
    <div class="row">
      <div class="col-md">
        <div class="item-boxes">
          <div class="icon">
            <i style="font-size: 3em;" class="fa fa-mobile"></i>
          </div>
          <h4>DESENVOLVIMENTO APP</h4>
          <p> Desenvolvemos aplicativos de celular, tanto para IOS quanto para Android, caso tenha uma ideia, podemos tornar
            ela em realidade.</p>
        </div>
      </div>
      <div class="col-md">
        <div class="item-boxes">
          <div class="icon">
            <i class="fa fa-paint-brush"></i>
          </div>
          <h4>DESIGN GRÁFICO</h4>
          <p>Além de logomarcas para o seu negócio, criamos também, páginas web estáticas, como Landing Page e páginas comerciais.
            </p>
        </div>
      </div>
      <div class="col-md">
        <div class="item-boxes">
          <div class="icon">
            <i class="fa fa-microchip"></i>
          </div>
          <h4>AUTOMAÇÃO</h4>
          <p>Integramos o nosso desenvolvimento com aparelhos customizados para sua melhor utilização.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md">
        <div class="item-boxes">
          <div class="icon">
            <i class="fa fa-laptop"></i>
          </div>
          <h4>DESENVOLVIMENTO WEB</h4>
          <p>Construimos softwares especificos para a web, com a finalidade de se obter um conjunto de programas, que satisfazem
            as suas funções pretendidas.</p>
        </div>
      </div>

      <div class="col-md">
        <div class="item-boxes">
          <div class="icon">
            <i class="fa fa-shopping-cart"></i>
          </div>
          <h4>E-COMMERCE</h4>
          <p>O mundo é digital, então nada melhor do que expandir sua empresa com um site de vendas online, aumentando significativamente
            sua renda.</p>
        </div>
      </div>
      <div class="col-md">
        <div class="item-boxes">
          <div class="icon">
            <i class="fa fa-line-chart"></i>
          </div>
          <h4>MARKETING DIGITAL</h4>
          <p>Existem ferramentas eficientes para aumentar a visibilidade do seu site, e a Projeti pode te ajudar a ampliar esse
            alcance. Converse com a gente e saiba mais.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Services Section End -->
<!-- Blog Section Start-->
<section i class="section page">
  <div class="container">
    <div class="section-header">
      <h2 class="section-title">Nossos
        <span>Trabalhos</span>
      </h2>
      <hr class="lines">
      <p class="section-subtitle">Com foco no atendimento ao cliente e na qualidade do serviço,
         já tivemos a satisfação de ajudar nossos clientes à concretizarem
        suas ideias. Através de planejamento e agilidade, fomos capazes de concluir todos os projetos com sucesso. </p>
    </div>
   <sample></sample>
    <div class="row mt-5">
      <div class="col">
        <a class="btn btn-common btn-block" routerLink="cases">Nossos Cases</a>
      </div>
    </div>
  </div>
</section>
<!-- Blog Section End-->

<!-- Who we are Section Start-->
<section id="quem_somos" class="section page">
  <div class="container">
    <div class="section-header">
      <h2 class="section-title" data-wow-duration="1000ms" data-wow-delay="0.3s">Quem
        <span>somos</span>
      </h2>
      <hr class="lines">
      <p class="section-subtitle">Essa é a equipe que você irá fazer o contato inicial para saber mais sobre seus problemas e te dar as melhores soluções.</p>
    </div>
    <div class="row">
      <div class="col-md">
        <div class="img-boxes">
          <div class="imagem">
            <img src="../../assets/image/vinicius2.jpeg" class="img-fluid">
          </div>
          <h4>Vinicius Valença</h4>
          <p>Engenheiro da Computação / Analista de Sistemas /
            <br> Analista de Infraestrutura</p>
          <div class="social-icons">
            <ul>
              <li class="facebook">
                <a href="#">
                  <i class="fa fa-facebook"></i>
                </a>
              </li>
              <li class="linkedin">
                <a href="https://www.linkedin.com/in/vinicius-valen%C3%A7a-05580277/">
                  <i class="fa fa-linkedin"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md">
        <div class="img-boxes wow fadeInDown" data-wow-delay="0.2s">
          <div class="imagem">
            <img src="../../assets/image/philipe.jpg" class="img-responsive img-rounded">
          </div>
          <h4>Philipe Amorim</h4>
          <p>Engenheiro da Computação / Analista de sistemas / Desenvolvedor </p>
          <div class="social-icons">
            <ul>
              <li class="facebook">
                <a href="https://www.facebook.com/philipe.lopes07">
                  <i class="fa fa-facebook"></i>
                </a>
              </li>
              <li class="linkedin">
                <a href="https://www.linkedin.com/in/philipe-amorim-5b936794/">
                  <i class="fa fa-linkedin"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Who we are Section End-->
<!-- Depoiment Section Start-->
<section id="parceiro" class="parceiro parallax">
  <div class="section_overlay">
    <div class="container">
      <div class="section-header">
        <h2 class="section-title">Depoimentos</h2>
        <hr class="lines" data-wow-delay="0.3s">
        <p class="section-subtitle"></p>
      </div>
      <div class="row">
        <div class="col-md-4 mb-3">
          <div class="testimonial testimonial-style-3 testimonial-style-custom">
            <blockquote class="box-shadow-custom">
              <p>Estou muito satisfeito com o produto final que me foi entregue. Meu aplicativo ficou intuitivo e de grande
                eficiência. Tenho certeza que essa empresa vai crescer muito ainda. Os funcionários são atenciosos e muito
                receptivos. Obrigado.</p>
              <div class="testimonial-author  d-flex justify-content-end">
                <p>
                  <strong>Rafael</strong>
                  <span>Dono de Academia</span>
                </p>
              </div>
            </blockquote>
            <div class="testimonial-arrow-down"></div>
          </div>
        </div>
        <div class="col-md-4 mb-3">
          <div class="testimonial testimonial-style-3 testimonial-style-custom">
            <blockquote class="box-shadow-custom">
              <p>Construí uma página de serviços para a minha oficina e uma consultoria de markenting digital para aumentar o acesso do meu site.
                  Aprendi muito sobre a utilização do email marketing, mídias digitais, google Adsense, google Adwords
                  Isso com um custo benefício muito bom, além da qualidade e agilidade. Obrigado!</p>
              <div class="testimonial-author d-flex justify-content-end">
                <p>
                  <strong>Rodrigo</strong>
                  <span>Comerciante</span>
                </p>
              </div>
            </blockquote>
            <div class="testimonial-arrow-down"></div>
          </div>
        </div>
        <div class="col-md-4 mb-3">
          <div class="testimonial testimonial-style-3 testimonial-style-custom">
            <blockquote class="box-shadow-custom">
              <p>Possuo uma loja de esportes e consegui um aumento de renda signficativo seguindo os passos dessa empresa. Gostei
                muito da consultoria que me foi dada, ainda não criei o site em sí por questões financeiras, porém com certeza
                quando tiver condições irei fazer o sistema com eles. </p>
              <div class="testimonial-author d-flex justify-content-end">
                <p>
                  <strong>Eduardo</strong>
                  <span>Comerciante</span>
                </p>
              </div>
            </blockquote>
            <div class="testimonial-arrow-down"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Depoiment Section End-->
<!-- Contact Section Start-->
<app-contato></app-contato>
<!-- Footer Section Start-->
<app-footer></app-footer>
<!-- Footer Section End-->