
/*----------------------------------------------------------------*/
/*----------------------VIDEO BACKGROUND--------------------------*/
/*----------------------------------------------------------------*/
#HOME{
  position: relative;
  margin-top: 0;
  overflow: hidden;
  background-image:  url(../../assets/image/what-the-hex.png);
  height: 700px;
  
}
/* Mantem o tamanho original do vídeo */
#video-background {
  margin-top: 0px;
  margin-bottom: auto;
  width: 100%;
  }

  /* Mantem o tamanho original do vídeo  quando a tela for até 1200px e desabilita o botão*/
  @media only screen and (max-width: 1200px){
    .responsive-none{
      display: none;
    }
    #HOME{
      background-image:  url(../../assets/image/what-the-hex.png);
       height: 690px;
       
    }
  #video-background {
    margin-top: 0px;
    margin-bottom: auto;
    width: 120%;
    }
  }
   /* Tira o vide e adiciona uma imagem no #HOME nas telas até  1062px */
@media(max-width: 1060px){
  #video-background {
    display: none;
    }
    .overlay {
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0px;
      left: 0px;
      background: rgb(45, 83, 165,0.6) !important;
    }
}
/* Tira o vide e adiciona uma imagem no #HOME nas telas até  768px */
  @media (max-width: 768px) {
    #HOME{
      height: 650px;
    }
    #video-background {
      display: none;
      }
      .overlay {
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0px;
        background: rgb(45, 83, 165,0.6)!important;
      }
  }
  /* Tamanho original do video */
  #video-background {
    margin-top: 0px;
    margin-bottom: auto;
    width: 100%;
    height: 100%;
    }
    

#HOME .mission-statement .contents{
  position: absolute;
  margin-top: 130px;
  z-index: 100;
}
  .overlay {
    position: absolute;
    width: 100%;
    height: 700px;
    top: 0px;
    left: 0px;
    background: rgb(0, 0, 0, .5);
  }

    #HOME .mission-statement .contents h1 {
      color: #fff;
      font-size: 50px;
      font-weight: 600;
      margin-bottom: 25px;
      line-height: 70px;
    }
    
    @media only screen and (max-width:800px) {
      #HOME .mission-statement .contents h1 {
        font-size: 40px;
    }
    }
    #HOME .mission-statement .contents p {
      font-size: 18px;
      color: #fff;
      font-weight: 400;
      line-height: 30px;
      letter-spacing: 0.5px;
    }
    
    #HOME .mission-statement .contents .btn {
      margin: 20px 10px;
      text-transform: uppercase;
    }
    #HOME .mission-statement .banner_bottom_btn {
      margin-top: 40px;
    }
    #HOME .mission-statement .banner_bottom_btn i {
      color: #fff;
      font-size: 48px;
      -webkit-transition: all 0.2s linear;
      -moz-transition: all 0.2s linear;
      -o-transition: all 0.2s linear;
      transition: all 0.2s linear;
    }
    #HOME .mission-statement .banner_bottom_btn i:hover {
      color: #4676fa;
    }
/*----------------------------------------------------------------*/
/*--------------------SESSAO "SOBRE" STYLE------------------------*/
/*----------------------------------------------------------------*/

.items{
  min-width: 500px;
  height: 560px;
  
}

@media(min-width:768px){
  .items{
    min-width: 510px;
    height: 560px;
    
  }
}

#left, #right{
  margin:30px;
}

.item-boxes {
  text-align: center;
  padding: 15px;
  border-radius: 4px;
  margin-bottom: 15px;
  webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.item-boxes .icon {
  width: 60px;
  height: 60px;
  text-align: center;
  border: 1px solid #eb3812;
  display: inline-block;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 15px;
  webkit-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.item-boxes .icon i {
  font-size: 30px;
  line-height: 60px;
  color: #eb3812;
}
.item-boxes h4 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}
.item-boxes:hover {
  background: #fff;
  box-shadow: 0 8px 48px 0 rgba(0, 0, 0, 0.15);
}
#services {
  position: relative;
  background: #f2f2f2;
}

/*----------------------------------------------------------------*/
/*--------------------CASES---------------------------------------*/
/*----------------------------------------------------------------*/


/*----------------------------------------------------------------*/
/*--------------------QUEM SOMOS---------------------------------*/
/*----------------------------------------------------------------*/
#quem_somos {
  position: relative;
  background: #f2f2f2;
}
.img-boxes {
  text-align: center;
  padding: 15px;
  margin: 0 0 0px 20px;    
  border-radius: 4px;
  margin-bottom: 15px;
  webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  max-width: 600px;
}
.img-boxes .imagem {
width: 200px;
height: 200px;
display: inline-block;
border-radius: 5px;
margin-top: 10px;
margin-bottom: 15px;
webkit-transition: all 0.3s ease-in-out;
-webkit-transition: all 0.3s ease-in-out;
transition: all 0.3s ease-in-out;
}
.img-boxes h4 {
font-size: 20px;
font-weight: 600;
margin-bottom: 10px;
}
.img-boxes:hover {
background: #fff;
box-shadow: 0 8px 48px 0 rgba(0, 0, 0, 0.15);
}


.social-icons {
margin-bottom: 20px;
}
.social-icons ul {
margin: 0;
padding: 0;
list-style: none;
}
.social-icons ul li {
display: inline;
}
.social-icons ul li a {
display: inline-block;
margin-left: 5px;
margin-right: 5px;
margin-bottom: 15px;
border-radius: 4px;
border: 1px solid rgba(255, 254, 254, 0.07);
line-height: 40px;
width: 40px;
height: 40px;
text-align: center;
font-size: 16px;
}
.social-icons ul li a:hover {
color: #ffffff;
}
.facebook a {
color: #4867aa;
}
.facebook a:hover {
background: #4867aa;
}
.linkedin a {
color: #007bb6;
}
.linkedin a:hover {
background: #007bb6;
}

/*----------------------------------------------------------------*/
/*--------------------TESTEMONIAL---------------------------------*/
/*----------------------------------------------------------------*/


.parceiro {
  min-height: 300px; 
  background: url(../../assets/image/smooth-red-texture.jpg);
  background-size: cover;
  background-repeat: no-repeat; 
}


.parceiro .section_overlay {
  
  background: rgb(228, 59, 21, .6);
  padding-top: 80px;
  padding-bottom: 80px;
}
.testimonial blockquote {
	background: black;
	border-radius: 10px;
	border: 0;
	color: #666;
	font-family: Georgia, serif;
	font-style: italic;
	margin: 0;
	padding: 10px 50px;
	position: relative;
}

.testimonial blockquote:before {
	left: 10px;
	top: 0;
	color: #FFF;
	content: "“";
	font-size: 80px;
	font-style: normal;
	line-height: 1;
	position: absolute;
}
.testimonial blockquote:after {
	color: #FFF;
	content: "”";
	font-size: 80px;
	font-style: normal;
	line-height: 1;
	position: absolute;
	bottom: -0.5em;
	right: 10px;
}
.testimonial blockquote p {
	color: #FFF;
	font-family: Georgia, serif;
	font-style: italic;
	font-size: 1.2em;
	line-height: 1.3;
}
/* .testimonial .testimonial-arrow-down {
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	height: 0;
	
	width: 0;
}
 */.testimonial .testimonial-author {
	margin: 8px 0 0 0;
}


.testimonial .testimonial-author strong {
	color: #111;
  display: block;
  font-size: 18px;
	padding-top: 10px;
	margin-bottom: -5px;
}

.testimonial .testimonial-author span {
	color: #000;
	display: block;
	font-size: 14px;
}

.testimonial .testimonial-author p {
	color: #000;
	margin: 0 0 0 -30px;
	text-align: center;
}
/* Style 3 */
.testimonial.testimonial-style-3 blockquote {
	background: #eee !important;
	border-radius: 0px;
	padding: 12px 30px;
}

.testimonial.testimonial-style-3 blockquote:before {
	top: 5px;
	color: #777;
	font-size: 35px;
}

.testimonial.testimonial-style-3 blockquote:after {
	color: #777;
	font-size: 35px;
	bottom: -5px;
}

.testimonial.testimonial-style-3 blockquote p {
	color: #000;
	font-family: "Open Sans", Arial, sans-serif;
	font-size: 1em;
	font-style: normal;
}

.testimonial.testimonial-style-3 .testimonial-author {
	margin-left: 8px;
}

/* .testimonial.testimonial-style-3 .testimonial-arrow-down {
	margin-left: 150px;
	border-top: 10px solid #111 !important;
} */

/*----------------------------------------------------------------*/
/*--------------------FORMULARIO FINAL----------------------------*/
/*----------------------------------------------------------------*/
#contact {
  position: relative;
  background: #eee;
  background-repeat:no-repeat;
  background-size:cover;
  background-position:center;
  
}
.card-estilo{
  padding:20px; border-radius: 10px;
  background: rgb(45, 83, 165,0.4);
  -webkit-box-shadow: 0px -7px 8px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px -7px 8px 0px rgba(0,0,0,0.75);
  box-shadow: 0px -7px 8px 0px rgba(0,0,0,0.75);
}
.img-hand{
  margin-top: 200px;
}
@media(max-width:992px){
  .img-hand{
    margin-top: 20px;
  }
}
@media(max-width:576px){
  .img-hand{
    display: none;
  }
}

