<section id="pagina">
<app-menu-superior></app-menu-superior>      
<section id="HOME" class="nossos_trabalhos parallax" >
    <div class="section_overlay">
        <div class="container-fluid">
            <div class="row justify-content-center margem">
                <img src="../../../assets/image/Sem-título-1.png" alt="" width="2000 " class="img-fluid mt-4">
            </div>      
        </div>
   </div>
</section>
<section id="model_work">
    <div class="container">	
        <div class="section-header mt-5">          
            <h2 class="section-title">Eficiência no <span>Resultado</span></h2>
            <hr class="lines">
        </div>
        <app-case></app-case>
    </div>
</section>

<app-footer></app-footer>
</section>