#pagina{
  background: #f2f2f2;
}

#HOME {
    min-height: 500px; 
    background: url(../../../assets/image/smooth-red-texture.jpg);
    background-size: cover;
    background-repeat: no-repeat; 
  }
  
  
  #HOME .section_overlay {
    min-height: 500px;    
    background: rgb(228, 59, 21, .6);

  }
.margem{
  margin-top: 81px;
}