<div class="footer">
    <div class="container-fluid">
        <div class="row ">
            <div class="col-lg-4">
                <div class="widget-footer">
                    <div class="">
                        <h3 style="color: #eb3812"><span>SOBRE</span> NÓS</h3>
                    </div>    
                    <p>Para crescer e se destacar é preciso inovar e se arriscar com inteligência.
                       Nosso objetivo é fornecer todas as ferramentas para que sua ideia seja um sucesso.
                        Com isso, fornecemos também, consultoria grátis para formalizar e viabilizar seu modelo de negócio.
                      </p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="widget-footer"> 
                    <h3 style="color: #eb3812">CATEGORIAS</h3>    
                    <div class="d-flex flex-column">
                        <div class="p-0">Aplicativo </div>
                        <div class="p-0">Sistema Web</div>
                        <div class="p-0">Designer Gráfico</div>
                        <div class="p-0">Automação</div>
                        <div class="p-0">Marketing Digital</div>
                    </div>         
                 </div>  
            </div>
            <div class="col-lg-4">
                <div class="widget-footer">
                               
                    <h3 style="color: #eb3812">REDES<span style="color:#eb3812"> SOCIAIS</span> </h3>
       
                    <ul class="social-icon">
                        <li><a href="https://www.linkedin.com/company/25031196/"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="https://www.facebook.com/ProjeTIdeias/"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="https://www.instagram.com/proje_ti/?hl=en"><i class="fa fa-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
         </div>   
    </div>
  </div>
  <!-- end:footer -->
  <!-- begin:copyright -->
  <div class="copyright">
      <div class="container-fluid">
          <div class="row">
              <div class="col-md-12"><a href="#HOME" class="btn btn-secondary scrolltop btn-scrolltop"><i class="fa fa-chevron-up"></i></a></div>    
          </div>
          <div class="row">
              <div class="col-sm-12">
                  <p>&copy; 2018 All Right Reserved.</p>
                  <p>Designed & Developed by <strong><a routerLink="/">ProjeTI.</a></strong></p>
              </div>
          </div>
      </div>
  </div>