.footer {
    width: 100%;  
    padding: 60px 0 00px;
    background-color: #333;
    color: #eee;
    border-bottom: 1px solid #212121;
}
.footer .widget-footer::after, .footer .widget-footer::before {
    content: '';
    display: table;
    clear: both;
}
.footer .widget-footer {
    display: block;
    margin-left: 85px;
    margin-bottom: 30px;
}
.footer .widget-footer h2 {
    margin-top: 0;
    margin-bottom: 15px;
    font-weight: 800;
}
.footer p{
    color:#fff;
}
.footer .widget-footer h2  span {
    color: #0d3559;
}
.footer .widget-footer .widget-title {
    color: #fff;
    margin-bottom: 25px;
}
.footer .widget-footer .widget-title h3 {
    position: relative;
    margin-top: 0;
    font-size: 22px;
    line-height: 28px;
    
}
.footer .widget-footer .widget-title h3::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 40px;
    height: 1px;
    background-color: #6495ED;
}
.footer .widget-footer ul {
    padding: 0;
    list-style-type: none;
}
.footer .widget-footer ul>li>a {
    display: block;
    padding: 4px 0;
    border-bottom: 1px dotted #6b6e80;
    color: #fff;
}
.footer .widget-footer ul>li>a:hover {
    color: #ccc;
    text-decoration: none;
}
.footer .widget-footer.widget_comments ul>li {
    position: relative;
    border-bottom: 1px dotted #6b6e80;
}
.footer .widget-footer.widget_comments ul>li::before {
    font-family: FontAwesome;
    content: '\f138';
    padding-right: 15px;
    font-size: 14px;
}
.footer .widget-footer.widget_comments ul>li>a {
    display: inline-block;
    border-bottom: none;
}
.footer .widget-footer .social-icon>li {
    display: inline-block;
}
.footer .widget-footer .social-icon>li>a {
    position: relative;
    width: 40px;
    height: 40px;
    display: block;
    border-bottom: none;
    background-color: #212121;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    text-align: center;
}
.footer .widget-footer .social-icon>li>a:hover {
    color: #fff;
    background-color: #4169E1;
}
.footer .widget-footer .social-icon>li>a .fa, .footer .widget-footer .social-icon>li>a .glyphicon {
    position: absolute;
    left: 0;
    width: 40px;
    height: 40px;
    font-size: 22px;
    line-height: 32px;
    text-align: center;
}

/*-----------------------------------------------------------------------------------------*/
/*--------------------------------COPYRIGHT---------------------------------------------------*/
/*-----------------------------------------------------------------------------------------*/

.copyright {
    position: relative;
    width: 100%;
    padding: 40px 0 15px;
    background-color: #212121;
    color: #eee;
    border-top: 1px solid #434a54;
}

.copyright p{
    color: #fff;
}
.btn-scrolltop {
    position: absolute;
    z-index: 3;
    left: 50%;
    bottom: 15px;
    margin-left: -15px;
}
.copyright a:hover {
    text-decoration: none;
}

