<nav class="navbar navbar-expand-lg pt-2 fixed-top">
  <a class="navbar-brand" routerLink="/">
    <img src="../../../assets/image/logo.png" height="35" alt="logomarca ProjeTI">
  </a>
  <button class="navbar-toggler" (click)="openNav()" type="button" aria-controls="navbarTitle"
   aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse"   id="navbarTitle" >
      
      <ul class="navbar-nav mx-auto" >        
          <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
            <a class="nav-link" routerLink="">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
            <a class="nav-link" routerLink="/cases">Nossos cases</a>
          </li> 
          <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
            <a class="nav-link" routerLink="/contato">Contato</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
            <a class="nav-link"routerLink="/blog">Blog</a>
          </li>                                 
      </ul>
  </div>
</nav>
<div id="mySidenav" class="sidenav">
    <a  class="closebtn" (click)="closeNav()">&times;</a> 
    <ul class="navbar-nav mt-4" >        
        <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"  >
          <a class="nav-link" routerLink="">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
          <a class="nav-link" routerLink="/cases">Nossos cases</a>
        </li> 
        <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
          <a class="nav-link" routerLink="/contato">Contato</a>
        </li>
        <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
          <a class="nav-link" routerLink="/blog">Blog</a>
        </li>                                 
    </ul>
</div> 