.navbar{
    background-color: #fff;
    height: 80px;
    -webkit-box-shadow: 0px 8px 25px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 8px 25px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 8px 25px 0px rgba(0,0,0,0.75);
}

.navbar-toggler .navbar-toggler-icon{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#eb3812' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    border:1px solid #eb3812;
    border-radius: 3px;
    font-size: 25px;
}

ul >li {
    padding: 0 20px 0 20px;
}

ul > li> a {
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    font-weight: 700;
    text-transform: uppercase; 
    color: #999;
}
ul > li> a:hover{
     color:#eb3812;
    transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
}
.navbar .navbar-nav li.active > a {
	color: #eb3812;
}

 /*-----------------------------------------------------*/
/*-------------- MENU Responsivo----------------------------*/
/*-----------------------------------------------------*/
  
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 110px;
    -webkit-box-shadow: 5px 0px 5px 0px rgba(0,0,0,0.4);
    -moz-box-shadow: 5px 0px 5px 0px rgba(0,0,0,0.4);
    box-shadow: 5px 0px 5px 0px rgba(0,0,0,0.4);
    z-index: 102;
  }
  
  .sidenav li{
    margin-top: 5px;
    padding: 10px;
    border: 1px solid #000;
    border-top:0;
    border-left: 0;
    border-right: 0; 
  }

  .sidenav ul  li a:hover{
    color:#eb3812;
   transition: all 0.5s ease-in-out;
   -moz-transition: all 0.5s ease-in-out;
   -webkit-transition: all 0.5s ease-in-out;
}
  
  .sidenav a {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 15px;
    color: #fff;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #fff;
  }
  
  .sidenav .closebtn {
    position: absolute;
    color: #999;
    top: 0;
    right: 25px;
    margin-top: 80px;
    font-size: 36px;
    margin-left: 50px;
    cursor: pointer;
  }

  .sidenav .closebtn:hover{
    color:#000; 
  }

  
  @media (max-width: 920px) {

  }