#pagina{
  background: #f2f2f2;
  
}

#HOME {
    min-height: 500px; 
    background: url(../../../../assets/image/smooth-red-texture.jpg);
    background-size: cover;
    background-repeat: no-repeat; 
  }
  
  
  #HOME .section_overlay {
    min-height: 500px;    
    background: rgb(228, 59, 21, .6);

  }

.img-detalhe{
  width: 670px;
  height: 550px;
-webkit-box-shadow: 0px 0px 39px 3px rgba(0,0,0,1);
-moz-box-shadow: 0px 0px 39px 3px rgba(0,0,0,1);
box-shadow: 0px 0px 39px 3px rgba(0,0,0,1);
}

.margem{
  margin-top: 81px;
}