<section id="pagina">
    <app-menu-superior></app-menu-superior>      
    <section id="HOME" class="nossos_trabalhos parallax" >
        <div class="section_overlay">
            <div class="container-fluid">
                <div class="row justify-content-center margem">
                    <img src="../../../assets/image/Sem-título-1.png" alt="" width="2000 " class="img-fluid mt-4">
                </div>      
            </div>
       </div>
    </section>
    <section id="model_work" class="mb-5">
        <div class="container">	
            <div class="section-header mt-5">          
                <h2 class="section-title">{{globals.cases_model[index].titulo}}</h2>
                <hr class="lines">
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card text-dark mb-3">
                        <div class="card-header "><h5>Descrição</h5></div>
                            <div class="card-body">
                            <p class="card-text text-dark">{{globals.cases_model[index].descricao}}</p>
                        </div>
                    </div>        
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-md-12">
                    <h3 style="color:#0d3559">Fotos do Sistema</h3>
                </div>
                <div class="col-md-12 text-center">
                    <span class="border">
                        <img src="{{globals.cases_model[index].imagePath}}"
                        class="img-fluid mt-3 mb-3 rounded img-detalhe "
                        alt="" >
                    </span>
                </div>
            </div>

            <div class="row mt-3">
                <div class="col-md-12 mb-3 mt-3">
                    <h3 style="color:#0d3559">Fotos do Aplicativo/ Sistema Responsivo</h3>
                </div>
                <div class="col-md-12 text-center" *ngIf="globals.cases_model[index].imageResponsive === ''">
                        <p>Não possui imagens =(</p>                 
                </div>
                <div class="col-md-12 text-center" *ngIf="globals.cases_model[index].imageResponsive !== ''">
                    <img src="{{globals.cases_model[index].imageResponsive}}"
                     class="img-fluid mt-3 mb-3 rounded img-detalhe" alt="">
                </div>
                
            </div>
            <hr style="background:#eb3812">
            <div class="row mt-3 mb-3">                  
                <a  class="btn btn-common" routerLink="/cases">
                    <i class="fa fa-chevron-circle-left 2x"></i>
                     &nbsp;&nbsp; voltar para todos os cases
                </a>
            </div>
            
        </div>
    </section>
    
    <app-footer></app-footer>
</section>