/*----------------------------------------------------------------*/
/*--------------------FORMULARIO FINAL----------------------------*/
/*----------------------------------------------------------------*/
#contact {
    position: relative;
    background: #eee;
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
    
  }
  .card-estilo{
    padding:20px; border-radius: 10px;
    background: rgb(45, 83, 165,0.4);
    -webkit-box-shadow: 0px -7px 8px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px -7px 8px 0px rgba(0,0,0,0.75);
    box-shadow: 0px -7px 8px 0px rgba(0,0,0,0.75);
  }
  .img-hand{
    margin-top: 200px;
  }
  @media(max-width:992px){
    .img-hand{
      margin-top: 0px;
    }
  }
  @media(max-width:576px){
    .img-hand{
      display: none;
    }
  }

  .btncontact{
    border: 2px solid #eb3812;
    background-color: #eb3812;
    position: relative;
    z-index: 1;
    border-radius: 4px;
  }