<section id="contact" class="section page">
  <div class="container ">
    <div class="row ">
      <div class="col-12 mt-3">
        <div class="section-header ">
          <h2 class="section-title">
            contato
          </h2>
          <hr class="lines">
        </div>
      </div>      
   </div>
   <div class="row">
      <div class="col-lg-8 col-sm-12 content-justify-end">
          <h2>Mande sua mensagem</h2>
          <p class="lead mb-xl">Tire sua ideia do papel. Envie a descrição do seu problema
             que nós desenvolveremos seu projeto .</p>
         
          <div class="card card-default card-estilo ">

            <form (submit)="sendEmail(message,emailTo)" #form="ngForm">
              <!--Mensagem de alerta  -->
              <div class="alert alert-success"
               id="contactSuccess" [hidden]="!msgEmailEnviado">
                  <strong>Mensagem enviada!</strong> Agora aguarde que nós iremos entrar em 
                  contato o mais rápido possível. Obrigado !
              </div>
              <div class="alert alert-danger mt-lg" [hidden]="!msgErroEmail"
                id="contactError">
                  <strong> Opa. Ocorreu um erro!</strong> Verifique se está tudo preenchido
                  corretamente. 
              </div>
              <!-- Fim Mensagem de Alerta -->
              <div class="row">
                  <div class="col-md-6 mt-3">
                      <input type="text"
                      placeholder="Digite seu nome"
                      class="form-control" name="nome"
                      #nameVerifica="ngModel"
                      required
                      [(ngModel)]="message.nome" required>
                  </div>
                  <div class="col-md-6 mt-3">
                      <input type="text"
                        #ultimonameVerifica="ngModel"
                        placeholder="Seu Último nome"
                        class="form-control"
                        name="sobrenome"
                        [(ngModel)]="message.sobrenome" required>
                  </div>
                  <div class="col-12 mt-3">
                      <input type="text"
                        pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
                        placeholder="Digite seu e-mail"
                        #contactemail="ngModel"
                        class="form-control" name="email"
                        [(ngModel)]="message.email" required>

                      <div style="color:red;" [hidden]="contactemail.valid || contactemail.untouched">
                          <div  *ngIf="contactemail.errors && contactemail.errors.required">
                             <P >Email é inválido</P>    
                          </div>
                          <div  *ngIf="contactemail.errors && contactemail.errors.pattern">
                            Email é inválido
                          </div>
                      </div> 
                  </div>
                  
                  <div class="col-12 mt-3 mb-3">
                      <textarea placeholder="Digite seu motivo para contato"
                        class="form-control"
                        name="descricao"
                        [(ngModel)]="message.descricao"
                         required rows="6">
                      </textarea> 
                  </div>          
                  <div class="col-12 mt-3 ">
                    <input type="submit" [disabled]="!form.valid" class="btn btncontact btn-block" value="Enviar">
                  </div>
                </div>                      
              </form> 
          </div>
        </div>
        <div class="col-lg-4 text-center img-hand ">
            <img src="../../assets/image/3dman.png" alt="" height="300" width="250">
          </div>  
      </div>
   </div>
</section>