* {
    margin: 0;
    padding: 0;
}

body{
    overflow-x: hidden;
}

a {
    -webkit-transition: all 0.35s;
    -moz-transition: all 0.35s;
    transition: all 0.35s;
    color: #F05F40;
  }
  a:hover,
  a:focus {
    color: #eb3812;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
      font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
      color:black;
  }
  p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
    color:#000;
  }


/*----------------------------------------------------------------*/
/*----------------------CLASSES VARIADAS--------------------------*/
/*----------------------------------------------------------------*/
.section {
    padding: 80px 0;
  }
  
  
  .section-header {
    color: #fff;
    margin-bottom: 40px;
    text-align: center;
  }
  .section-header .section-title {
    font-size: 42px;
    margin-top: 0;
    text-transform: uppercase;
    font-weight: 100;
    color: #0d3559;
    position: relative;
  }
  .section-header .section-title span {
    color: #eb3812;
  }
  .section-header .section-subtitle {
    margin-top: 15px;
    color: #000;
    font-size: 16px;
    font-weight: 400;
  }
  .section-header .lines {
    margin: auto;
    width: 70px;
    position: relative;
    border-top: 2px solid #eb3812;
    margin-top: 15px;
  }
  .section-header .lines:before {
    position: absolute;
    content: "";
    display: inline-block;
    height: 10px;
    width: 10px;
    top: -10px;
    border: 4px solid #fff;
    border-radius: 50%;
    background: #eb3812;
    left: 27px;
  }

  .tuor,
  .tuor:focus,
  tuor:active,
  tuor:visited {
      color: #A9ADB0;
      margin-left: 20px;
      text-transform: uppercase;
      font-size: 19px;
      font-weight: 500;
      background: transparent;
      -webkit-transition: all 1s;
      -moz-transition: all 1s;
      -o-transition: all 1s;
      transition: all 1s;
  }
  .tuor:hover {
      color: #fff;
  }
  .tuor i {
      font-size:26px;
      padding-left: 5px;
      color: #eb3812; 
  }
  
  
  .btn {
    font-size: 14px;
    padding: 10px 30px;
    border-radius: 0px;
    font-weight: 400;
    color: #fff;
    text-transform: uppercase;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
    display: inline-block;
    font-family: 'Lato', sans-serif;
  }
  .btn:focus {
    box-shadow: none;
    outline: none;
  }
  .btn-common {
    border: 2px solid #eb3812;
    background-color: #eb3812;
    position: relative;
    z-index: 1;
    border-radius: 4px;
  }
  .btn-common:hover {
    color: #eb3812;
    background-color: transparent;
    border: 2px solid #eb3812;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
  }
  .btn-border {
    color: #fff;
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 4px;
  }
  .btn-border:hover {
    border: 2px solid #fff;
    color: #fff;
    background-color: #4676fa;
  }
  .btn-lg {
    padding: 14px 33px;
    text-transform: uppercase;
    font-size: 16px;
  }
  .btn-rm {
    padding: 7px 10px;
    text-transform: capitalize;
  }
  
  
  .btn-scrolltop {
      position: absolute;
      z-index: 3;
      left: 50%;
      bottom: 15px;
      
  }
  .btn-secondary {
      color: #fff;
      background-color: #eb3812;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      -ms-border-radius: 2px;
      -o-border-radius: 2px;
      border-radius: 2px;
  }
  
  .btn-scrolltop:hover{
      color: #0d3559;
      background-color: #eb3812;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      -ms-border-radius: 2px;
      -o-border-radius: 2px;
      border-radius: 2px;
  }
  
  .clear {
    clear: both;
  }
